<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petsAdoption.wishList.mapper.WishListMapper">

    <resultMap id="BaseResultMap" type="com.petsAdoption.wishList.pojo.WishList">
            <id property="id" column="id" jdbcType="VARCHAR" />
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="petId" column="pet_id" jdbcType="VARCHAR"/>
            <result property="selectDate" column="select_date" jdbcType="TIMESTAMP"/>
            <result property="selectNumber" column="select_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,pet_id,select_date,
        select_number
    </sql>
    <select id="getAllByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_wish_list
        where
        uid = #{uid,jdbcType=VARCHAR}
    </select>
</mapper>
